<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
{{> header}}
<p>Hi How are you {{upperCaseIt name}} ? Long time</p>
<p>Are you working on either of your hobbies {{hobbies}} ?</p>
{{> footer}}
</html>