<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Some Website</title>
</head>
{{> header}}
<p>Portfolio</p>
<ul>Projects Name
<li>Weather App</li>
<li>Notes App</li>
</ul>
{{> footer}}
</html>